<template>
    <div>
        <div v-if="alert" class="alert alert-success alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{message}}
        </div>
        <div v-if="alert_error" class="alert alert-danger alert-dismissible" role="alert">
            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
            {{error_message}}
        </div>
        <div class="orders-list">
            <div class="orders-list--header">
                <div class="col-xs-2 orders-list--header--col">
                    iD продукта
                </div>
                <div class="col-xs-4 orders-list--header--col">
                    наименование продукта
                </div>
                <div class="col-xs-4 orders-list--header--col">
                    наименование поставщика
                </div>
                <div class="col-xs-2 orders-list--header--col">
                    цена
                </div>
            </div>
            <div v-for="product in sortedProducts" class="orders-list--row" :key="product.id">
                <div class="col-xs-2 orders-list--row--col">
                    {{product.id}}
                </div>
                <div class="col-xs-4 orders-list--row--col">
                    {{product.name}}
                </div>
                <div class="col-xs-4 orders-list--row--col">
                    {{product.vendor.name}}
                </div>
                <div class="col-xs-2 orders-list--row--col">
                    <div v-if="product.show" class="price">
                        <input style="width: 100%; margin-right: 3px" v-model="product.price" @keyup.enter="priceEdit(product.id,product.price); product.show = false"
                               @keyup.escape="product.show = false">

                        <span @click="priceEdit(product.id,product.price); product.show = false" class="glyphicon glyphicon-save" aria-hidden="true"></span>
                    </div>
                    <div v-else v-on:click="product.show = true" class="price">
                        {{product.price}}
                        <span class="glyphicon glyphicon-edit" aria-hidden="true"></span>
                    </div>
                </div>
            </div>
        </div>
        <vue-pagination :pagination="products"
                        @paginate="getProducts()"
                        :offset="4">
        </vue-pagination>
    </div>

</template>

<script>
    import r from '../route';
    import axios from 'axios';
    import VuePagination from './pagination.vue';

    export default {
        data() {
            return {
                alert: false,
                message: '',
                alert_error: false,
                error_message: '',
                sortBy: null,
                products: {},
            }

        },
        computed: {
            sortedProducts: function () {
                return _.orderBy(this.products.data, 'name')
            }
        },
        components: {
            VuePagination,
        },
        methods: {
            getProducts() {
                axios.get(r('product.list.api'), {
                    params: {
                        page: this.products.current_page
                    }
                })
                    .then((response) => {
                        this.products = response.data.products
                    });
            },
            priceEdit: function (product_id, price) {
                axios.post(r('product.save.api'), {
                    product_id: product_id,
                    price: price
                })
                    .then((response) => {
                        if (typeof response.data.message !== 'undefined') {
                            this.message = response.data.message;
                            this.alert = true;
                            setTimeout(() => this.alert = false, 2000);
                        }

                        if (typeof response.data.error !== 'undefined') {
                            this.error_message = response.data.error;
                            this.alert_error = true;
                            setTimeout(() => this.alert_error = false, 2000);
                        }
                    });
            },
        },
        mounted() {
            this.getProducts()
        }
    }
</script>
