.orders-list
  border: solid 1px
  .status
    overflow: auto

  &--header, &--row
    display: flex
    justify-content: space-around
    .price
      display: flex
      justify-content: space-between
      align-items: center

  &--header
    padding: 5px
    background-color: #7d7b7b
    color: #f2dede
  &--row
    padding: 1px
    &:nth-child(2n)
      background-color: #fff
    &--col
      border: solid 1px
