html, body
  height: 100%

body
  display: flex
  flex-direction: column
  background: #e7e7e7
  padding-top: 70px
  justify-content: space-between
a
  color: red

.footer
  margin-top: 20px
  width: 100%
  background-color: #f5f5f5

@import "orders-table"